<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Editar Usuário</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    {{ template "header" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar Dados</h3>
                <form id="edit-user">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name"
                        placeholder="Insira o seu nome" value="{{ .Name }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                        placeholder="Insira o seu email" value="{{ .Email }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nick</label>
                        <input type="text" class="form-control" id="nickname" name="nickname"
                        placeholder="Insira o seu nick" value="{{ .Nickname }}" required="required">
                    </div>
                    <button type="submit" class="btn btn-info">Atualizar Dados</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}
    <script src="/assets/js/user.js"></script>
</body>